<nav class="navbar navbar-expand-md bg-body-black border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-earth-americas"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fw-bold" aria-current="page" href="/">Home</a>
        <a class="nav-link fw-bold" href="/listings">All Lists</a>
        <a class="nav-link fw-bold" href="/listings/new">Add new Lising</a>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link fw-bold" aria-current="page" href="/signup">Sign-Up<a>
        <a class="nav-link fw-bold" href="/login">Log-In</a>
        <a class="nav-link fw-bold" href="/logout">Log-Out</a>
      </div>
        
      </div>
    </div>
  </div>
</nav>
